* {
    box-sizing: border-box;
}
.container{
    border: 1px solid royalblue;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.personalsecond {
    display: flex;
    justify-content: space-between;
}

.personal-img {
    width: 150px;
}




.header2 {
    background-color: royalblue;
    line-height: 50px;
    color: azure;
}

.section {
    margin-top: 10px;
    border: 1px solid royalblue;
    
}