body {
    background-color: red;
    color: blue;
}

/* media print ή sreen ή all */
/* @media screen(min-width:1200px) */
/* @media all {
    body{
        background-color: orange;
        color: green;
    }
} */

@media(min-width:992px) {
    body{
        background-color: green;
    }
}

@media (max-width:992px) {
    body{
        background-color: brown;
    }
}